<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.rucafe">

    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.RUCafe">

        <activity android:name=".AllOrdersActivity"
            android:label="@string/all_orders"
            android:parentActivityName=".MainActivity"/>
        <activity android:name=".ViewOrderActivity"
            android:label="@string/view_order"
            android:parentActivityName=".MainActivity"/>
        <activity android:name=".CoffeeActivity"
            android:label="@string/order_coffee"
            android:parentActivityName=".MainActivity"/>
        <activity android:name=".DonutActivity"
            android:label="@string/order_donuts"
            android:parentActivityName=".MainActivity"/>


        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>